<!-- <div class="container-fluid g-0">
    <app-navbar></app-navbar>

    <main>
        <app-sidebar-nar class="black-border">
        </app-sidebar-nar>
    </main>
   <app-sidebar-nar></app-sidebar-nar>
</div> -->
<!-- <app-navbar></app-navbar>
<app-sidebar-nar></app-sidebar-nar> -->

<!-- <p class="fs-1 fw-bold fst-italic">Main Display Area</p> -->
<div class="container-fluid g-0">
    <app-navbar (sidebarNarToggled)="sidebarNarStatus = $event;"></app-navbar>

    <main>
        <app-sidebar-nar [sidebarNarStatus]="sidebarNarStatus" (clickSlideBar)="navBarMain = $event;"
            [ngClass]="{'app-sidebar-nar-open': sidebarNarStatus}"></app-sidebar-nar>
        <!-- <div class="display-area p-3" [ngClass]="
        {'display-area-shrink':sidebarNarStatus}">
            <span [ngSwitch]="navBarMain">
                <p *ngSwitchCase="1">

                </p>
                <p *ngSwitchCase="2">

                </p>
                <p *ngSwitchCase="4">
                    <app-register></app-register>
                </p>
                <p *ngSwitchDefault>
                </p>
            </span>
        </div> -->
    </main>

</div>