<!-- <nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid mb-0"> -->
<!-- <a class="navbar-brand" href="#">Offcanvas dark navbar</a> -->
<!-- <button class="md-0 navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul></ul> class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;"></ul>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Link
          </a>
    </ul> -->
<!-- <div class=" box-logo-text">
   
    <a class="navbar-brand" href="#">
      <img src="../assets/img/DMR_Logo.png " alt="Logo"  width="70ev" height="70ev" class="d-inline-block align-text-top">
    </a>
    <h2 class="md-0">กรมทรัพธรณี</h2>
    <h5 class="text-DMR">Department Of Mineral Resources</h5>
   </div> -->
<!-- </div>
</nav> -->
<!-- <img src= "../assets/img/home.png" alt=""> -->

<!-- <head>
  <title>MRD</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">
  <div class="sidebar">
    <div class="logo item">
      <img src="../assets/img/DMR_Logo.png" alt="" >
    <span class="mainHead ">
      <h5>กรมทรัพธรณี</h5>
      <h5>DMR</h5>
    </span>
    
    </div>
  </div>
  
    
</div>
</body> -->

<!-- <i class="fa-solid fa-bars"></i> -->


<!-- <nav class="navbar navbar-expand navbar-info  bg-info  px-2">
  <div class="side-nav-button p-2 me-3 text-light">
    <i class="fa-solid fa-bars "></i>
  </div>
  <div class="img-pijer">
    <img src="../assets/img/DMR_Logo.png" class="rounded float-end " alt="...">
  </div>
</nav> -->

<!-- <div class="sidebar">
  <div class="top">
        <div class="logo ">
          <img src="../assets/img/DMR_Logo.png" alt="me" class="logo-img" >
          <span>กรมทรัพธรณี</span>
       </div>
     <i class="bx bx-menu " id="btn"></i>
  </div>
  <div class="user">
    <img src="../assets/img/DMR_Logo.png" alt="me" class="logo-img" >
    <p class="bold">Home .T</p>
    <p>tarpk</p>
  </div>
  <ul>
      <li>
        <a href="#">
          <i class="fa-solid fa-house"></i>
          <span class="nav-item">home</span>
        </a>
        <span title="tooltip">home</span>
      </li>
      <li>
        <a href="#">
          <i class="fa-solid fa-car"></i>
          <span class="nav-item">Add-a-car</span>
        </a>
        <span title="tooltip">
          Add-a-car</span>
      </li>
      <li>
        <a href="#">
          <i class="fa-solid fa-users"></i>
          <span class="nav-item">
            Add people</span>
        </a>
        <span title="tooltip">
          Add people</span>
      </li>
      <li>
        <a href="#">
          <i class="fa-solid fa-registered"></i>
          <span class="nav-item">
            Register</span>
        </a>
        <span title="tooltip">
          Register</span>
      </li>
      <li>
        <a href="#">
          <i class="fa-solid fa-file"></i>
          <span class="nav-item">Car-history</span>
        </a>
        <span title="tooltip">Car-history</span>
      </li>
  </ul>
</div>
<div class="main-content">
    <div class="container">
      <h1> กรมทรัพธรณี</h1>
    </div>
</div>

<script>

let btn = document.querySelector('#btn');


let sidebar = document.querySelector('.sidebar');


btn.onclick = function () {
  
  sidebar.classList.toggle('active');
};
</script>
   -->
<nav class="navbar navbar-expand nabar-dark bg-dark px-2 ">

  <div class="side-nav-button p-2 me-3 text-light" (click)="sidebarnarToggle()">
    <i class="fa-solid fa-bars"></i>
  </div>
  <div class="navbar-collapse">
    <ul class="navbar-nav no-auto">
    </ul>
  </div>

  <div class="text-tar">
    <!-- <a class="navbar-brand px-2  text-light"   href="http://localhost:4200/homemain">กรมทรัพยากรธรณ์  </a> <br/> -->
    <a class="navbar-brand px-2 text-light " href="http://localhost:4200/homemain"><b><h2>Department Of Mineral Resources</h2></b></a>
    <!-- <a href="http://localhost:4200/homemain"><img src="../assets/img/DMR_Logo.png" height="150px" width="150px"alt=""></a> -->
  </div>
  <div class="text-logo">
    <a href="http://localhost:4200/homemain"><img src="../assets/img/DMR_Logo.png" height="200px" width="200px"></a>
  </div>
  <!-- <a href="http://localhost:4200/homemain"><img src="../assets/img/DMR_Logo.png" height="150px" width="150px" style="padding-top: 100px;"></a> -->


</nav>